spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wit
    username: wit
    password: wit123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  sql:
    init:
      mode: never

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

urls:
  clients:
    - http://localhost:3000
    - http://localhost:8080
  server: http://localhost:8080

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui
    tags-sorter: alpha
    operations-sorter: method
  api-docs:
    enabled: true

logging:
  level:
    com.wit.be: DEBUG
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.flywaydb: DEBUG
